<%= form_with model: [@cat, @cat.comments.build], data: { turbo_frame: "cat" } do |form| %>
  
 
  <%= form.hidden_field :cat_id, value: @cat.id %>


  <div class="my-5 text-rose font-lekton">
    <p><strong><%= form.label "Write a comment" %><strong></p>
    <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border-2 border-primary border-dotted outline-primary px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline pb-6 text-rose font-lekton">
    <%= form.submit class: "rounded-lg py-3 px-5 border border-dotted border-slateblue inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
