<div id="<%= dom_id cat %>" class="w-full items-center" >

  <p class="text-rose font-lekton text-3xl flex items-center ">
   <%= link_to cat.alias.titleize, cat, class: "hover:underline my-1 pl-3" %>
    <% if current_user and (current_user == cat.user or current_user_is_admin?) and controller_name == "cats" and action_name == "show" %>
    <%= link_to icon('fa fa-pencil-square-o', 'edit'), edit_cat_path(cat), data: { turbo_frame: :edit_cat }, class: "px-2 text-sm" %>
    <% end %>
      <br>
   </p>
   <%= turbo_frame_tag "edit_cat", target: "_top" %>
 <div class="px-4 pb-3">
  <div class=" flex flex-row items-center font-lekton text-rose text-lg">
  <% if cat.photo.representable? %>
    <% if Rails.env.production? %>
        <%= cl_image_tag(cat.photo.key, width: 250, height: 200, crop: :fill, class: "rounded-md border-2 border-primary border-dotted")  %>
    <% else %>
        <%= image_tag cat.photo.representation(resize_to_limit: [250, 200]), class: "rounded-md border-2 border-primary border-dotted" %>
    <% end %>
  <%end%>
  <h4 class="font-lekton flex flex-col items-center text-rose text-3xl px-6" >
  <% unless current_user %>
    <% if cat.loves.count < 1%>
      <%= icon('fa-regular', 'heart') %>
    <% else %>
    <%= icon('fa-solid', 'heart') %>
    <% end %>
    <% else %>
  <% pre_love = cat.loves.find { |love| love.user_id == current_user.id} %>
<% if pre_love %>
  <%= button_to icon('fa-solid', 'heart'), cat_love_path(cat, pre_love), method: :delete %>
<% else %>
  <%= button_to icon('fa-regular', 'heart'), cat_loves_path(cat), method: :post  %>
<% end %>
<% end %>
  <%= cat.loves.count if cat.loves.count > 0  %>
  
  </h4>
  </div>
  <p class="font-lekton text-rose text-lg leading-5 w-7/12">
  <strong class="text-slateblue font-lekton">Spotted on:</strong><br>
  <%= cat.created_at.strftime("%B %d, %Y")%>
  <br>
  <% unless controller_name == "users" %>
    <strong class="text-slateblue font-lekton">Spotted by:</strong>
    <% if current_user and current_user == cat.user %> 
    <%= link_to "you", user_path(cat.user.id) %>
    <% else %>
    <%= link_to cat.user.username, user_path(cat.user.username) %>
    <% end %>
    <% end %>
    <br>
    <strong class="text-slateblue font-lekton">Description:</strong><br>
    <%= cat.description %>
  </p>
  <div class="mt-2 rounded-md border-2 border-primary border-dotted">
  <%= js_map [{latitude:"#{cat.latitude}", longitude:"#{cat.longitude}"}],
  class: "py-2 ",
  height: "15vh", 
  width: "100%",
  markers: {color: "#47d2dc"}, 
  tooltips: {html: true, hover: false}, 
  style: "mapbox://styles/mapbox/light-v11" if action_name == 'show' and controller_name == "cats" %>
  </div>
</div>
  


</div>



