<div id="<%= dom_id cat %>" class="">

   <h1> 
   <%= link_to cat.alias, cat, style: "color:  #f92a82; font-family: 'Lekton'; font-size: 2rem; hover: underline" %>
   </h1>

  <p class="">
  <% if cat.photo.representable? %>
    <% if Rails.env.production? %>
        <%= cl_image_tag(cat.photo.key, width: 300, height: 250 ) %>
    <% else %>
        <%= image_tag cat.photo.representation(resize_to_limit: [250, 200]), class: "rounded-md" %>
    <% end %>
  <%end%>
  </p>

  <p>
    <strong class="">Spotted by:</strong>
    <%= cat.user == current_user ? 'You' : cat.user.username %>
  </p>

  <p class="">
    <strong class="">Description:</strong>
    <%= cat.description %>
  </p>

  
  <%= js_map [{latitude:"#{cat.latitude}", longitude:"#{cat.longitude}"}],
  height: "15vh", 
  markers: {color: "#47d2dc"}, 
  tooltips: {html: true, hover: false}, 
  style: "mapbox://styles/mapbox/light-v11" if action_name == 'show' %>


  <hr class="pt-3">


</div>



