<div id="<%= dom_id cat %>" class="w-full" >

  <p class="my-5 inline text-rose font-lekton text-3xl flex justify-between">
   <%= link_to cat.alias, cat, class: "hover:underline" %>

    <% if current_user_match and controller_name == "cats" and action_name == "show" %>
    <%= link_to icon('fa fa-pencil-square-o', 'edit'), edit_cat_path(cat) %>
    <% end %>
   </p>

  <p class="">
  <% if cat.photo.representable? %>
    <% if Rails.env.production? %>
        <%= cl_image_tag(cat.photo.key, width: 250, height: 200, crop: :fill  ) %>
    <% else %>
        <%= image_tag cat.photo.representation(resize_to_limit: [250, 200]), class: "rounded-md" %>
    <% end %>
  <%end%>
  </p>
 <div class="">
  <p class="font-lekton text-rose text-lg">
    <strong class="text-slateblue font-lekton">Spotted by:</strong>
    <% if current_user and current_user == cat.user %>
    You
    <% else %>
    <%= link_to cat.user.username, user_path(cat.user.id) %>
    <% end %>
    <br>
    <strong class="text-slateblue font-lekton">Description:</strong><br>
    <%= cat.description %>
  </p>

  
  <%= js_map [{latitude:"#{cat.latitude}", longitude:"#{cat.longitude}"}],
  height: "15vh", 
  width: "100%",
  markers: {color: "#47d2dc"}, 
  tooltips: {html: true, hover: false}, 
  style: "mapbox://styles/mapbox/light-v11" if action_name == 'show' %>
</div>

  <hr class="">


</div>



