<%= form_with(model: cat, class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :alias %>
    <%= form.text_field :alias, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :photo %>
    <%= form.file_field :photo, direct_upload: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

    <div class="my-5">
    <%= form.label "address" %>
    <div class="relative text-gray-700">
    <%= form.text_field :address, value: '', class: "w-20px h-10 pl-3 pr-8 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline", id: "cat_address" %>
    <button type="button"  id="geolocate-button" class="pr-3"><i id="icon" class="fa-solid fa-location-dot"></i></button>
    </div>
   
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :latitude, value: "" ,class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :longitude, value: "", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
