<%= form_with(model: cat, class: "contents") do |form| %>
  <div class="my-5 mx-5 text-rose font-lekton">
    <%= form.label :alias %>
    <%= form.text_field :alias, class: "block shadow rounded-md border-2 border-primary border-dotted outline-primary px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 mx-5 text-rose font-lekton">
    <%= form.label :photo %>
    <%= form.file_field :photo, direct_upload: true, class: "block shadow rounded-md border-2 border-primary border-dotted outline-primary px-3 py-2 mt-2 w-full" %>
  </div>

    <div class="my-5 mx-5 text-rose font-lekton">
    <%= form.label "address" %> <button type="button"  id="geolocate-button" class="pr-3"><i id="icon" class="fa-solid fa-location-dot"></i></button>
    <%= form.text_field :address, value: '', class: "block shadow rounded-md border-2 border-primary border-dotted outline-primary px-3 py-2 mt-2 w-full", id: "cat_address" %>
    (location services must be allowed for this site to add cats to the map)
    </div>
   
  <div class="my-5 mx-5 text-rose font-lekton">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border-2 border-primary border-dotted outline-primary px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :latitude, value: "" %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :longitude, value: "" %>
  </div>

  <div class="inline my-5 mx-5 text-rose font-lekton">
    <%= form.submit class: "rounded-lg py-3 px-5 border border-dotted border-slateblue inline-block font-medium cursor-pointer" %>
    <%= link_to 'Back', root_url, class: "rounded-lg py-3 px-5 border border-dotted border-slateblue inline-block font-medium cursor-pointer" %>
  </div>
  <hr class="my-8 mx-5 border-2 border-dotted border-primary">
<% end %>
