<script>
<% i = 0 %>
let catData = {
<% @cats.each do |cat|%>

<%= "#{i += 1}"%> :
  <%= cat.to_json.html_safe %>,
  
<% end %>
}  

</script>

    <div id="cats" class="float-left h-full w-1/4 flex-col overflow-auto">
  
    <%= link_to "New cat", new_cat_path, data: { turbo_frame: 'new-cat' }, id: "new-cat-button"%>

    <%= turbo_frame_tag "new-cat" %>

      <%= render @cats %>
    </div>

    <div id='map' class="bw-5/10 h-full"></div>






