
<div class="h-screen flex flex-col md:flex-row bg-background">
  <div id="cats" class="md:float-left h-full md:w-1/4 w-full justify-around flex-col overflow-auto">
    <nav class="sticky top-0 bg-background flex flex-col">
      <%= link_to root_path do %>
        <%= image_tag asset_path("kittymapapp.png"), class:"object-cover", alt: 'kittymap.app' %>
      <% end %>
      <div class='flex justify-around w-full'>
      <%  if current_user.present? %>
        <%= link_to "New Cat", new_cat_path, data: { turbo_frame: 'new-cat' }, style: "color:  #f92a82; font-family: 'Lekton'; font-size: 1.75rem", id: "new-cat-button"%>
        <%= link_to "Sign Out", "/sign_out", style: "color:  #f92a82; font-family: 'Lekton'; font-size: 1.75rem" %>
      <% else %>
        <%= link_to "Sign In", "/sign_in", style: "color:  #f92a82; font-family: 'Lekton'; font-size: 1.75rem" %>
        <%= link_to "Sign Up", new_user_path, style: "color:  #f92a82; font-family: 'Lekton';font-size: 1.75rem" %> 
      <% end %>
        <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
    </div>
    <%= turbo_frame_tag "new-cat", target: "_top" %>
    </nav>
    <div class="">
    <%= render @cats %>
    </div>
</div>


<%= js_map map_data, height:"100vh", width: "100%", markers: {color: "#47d2dc"}, tooltips: {html: true, hover: false}, style: "mapbox://styles/mapbox/light-v11" %>

</div>