<% content_for :meta_title, "Kitty Map - #{@cat.name}" %>
<% content_for :meta_description, "#{@cat.name} was spotted on KittyMap.app" %>
<% content_for :meta_image, url_for(@cat.photo) %>
<%= turbo_frame_tag "cat" do %>
  <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-rose font-lekton font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="mx-3 mb-4">
    <%= render @cat %>
    <h4 class="font-lekton text-rose text-xl"><%= "Kitty Comments:" if @cat.comments.present? or current_user %></h4>
    <%= render @cat.comments %>
    <%= render "comments/form" if current_user %>
  </div>
<% end %>
