<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @cat %>

    <% if current_user and (current_user.is_admin or current_user == cat.user)  %>
      <%= link_to 'Edit cat', edit_cat_path(@cat), data: { turbo_frame: 'edit-cat' }, class: "" %>
    <% end %>
    <%= turbo_frame_tag "edit-cat", target: "_top" %>
    <%= render @cat.comments %>

    <%= render 'comments/form' =%>

    </div>
  </div>
</div>
