<!DOCTYPE html>
<html>
  <head>
    <title>Kitty Map</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:url" content="https://kittymap.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kitty Map" />
    <meta property="og:description" content="Geotag your cat sightings!" />
    <meta property="og:image" content="<%= asset_path("kittymapapp.png")%>" />

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>     
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <main>
      <%= yield %>
    </main>
  </body>
</html>
